.message-history {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-history:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.message-box {
  padding: 1rem;
  width: 80%;
  border: 1px solid rgba(82, 78, 78, 0.459);
  border-radius: 0.5rem;
}
